---
interface Props {
}

const {  } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		
		<meta name="description" content="Start observing your Flutter apps" />
		<meta property="image" content="https://cardinality.run/home.png" />
		<title>Cardinality</title>

		<!-- Open Graph Data -->
		<meta property="og:url" content="https://cardinality.run" />
		<meta property="og:title" content="Cardinality" />
		<meta name="og:description" content="Start observing your Flutter apps" />
		<meta property="og:image" content="https://cardinality.run/home.png" />

  		<!-- Twitter Share Data -->
		<meta property="twitter:card" content="summary_large_image" />
		<meta property="twitter:creator" content="@cardinality_run" />
		<meta property="twitter:title" content="Cardinality" />
		<meta property="twitter:description" content="Start observing your Flutter apps" />
		<meta property="twitter:image" content="https://cardinality.run/home.png" />
		<meta property="twitter:site" content="@cardinality_run" />

  		<!-- iOS meta tags & icons -->
		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta name="apple-mobile-web-app-status-bar-style" content="black">
		<meta name="apple-mobile-web-app-title" content="Cardinality">
		
		<meta name="theme-color" content="#000000">

		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
		<link rel="icon" type="image/svg+xml" href="/logo.svg" />
		<meta name="generator" content={Astro.generator} />
		
		<script>
			// @ts-ignore
			(function(w,d,e,u,f,l,n){w[f]=w[f]||function(){(w[f].q=w[f].q||[]).push(arguments);},l=d.createElement(e),l.async=1,l.src=u,
			// @ts-ignore
			n=d.getElementsByTagName(e)[0],n.parentNode.insertBefore(l,n);})(window,document,'script','https://assets.mailerlite.com/js/universal.js','ml');
			// @ts-ignore
			ml('account', '1079721');
		</script>
	</head>
	<body>
		<slot />
	</body>
</html>
<style is:global>
	@font-face {
		font-family: 'WorkSans';
		src: url('/fonts/WorkSans-VariableFont_wght.ttf') format('ttf');
		font-weight: normal;
		font-style: normal;
		font-display: swap;
	}

	:root {
		--accent: 245, 53, 30;
		--accent-light: 250, 71, 51;
		--accent-dark: 221 48 27;
		--accent-gradient: linear-gradient(
			45deg,
			rgb(var(--accent)),
			rgb(var(--accent-light)) 30%,
			black 60%
		);
	}
	html, body {
		font-family: 'WorkSans', sans-serif;
		background: #000;
		padding: 0;
		margin: 0;
	}
	h1, h2, h3, h4, h5, h6, p {
		margin: 0 0 1.5rem;
	}
</style>
